<div class="container-checkin">
    <p class="title">Novo check in</p>
    <div class="container-form">
        <form (ngSubmit)="onSubmit()">
            <div class="container-inputs">
                <div class="container-input">
                    <label class="labels" for="date-in">Data/hora de entrada</label>
                    <input type="datetime-local" placeholder="yyyy-mm-ddThh:mm:ss" id="date-in" name="inputDateIn" [(ngModel)]="dateIn" class="input" required>
                </div>
                <div class="container-input">
                    <label class="labels" for="date-out">Data/hora de saída</label>
                    <input type="datetime-local" placeholder="yyyy-mm-ddThh:mm:ss" id="date-out" name="inputDateOut" [(ngModel)]="dateOut" class="input">
                </div> 
            </div>
            <div class="container-inputs">
                <div class="container-input">
                    <label class="labels" for="guest">Hóspede</label>
                    <input type="text" id="guest" name="inputGuest" placeholder="Documento, nome ou telefone" [(ngModel)]="dataGuest" class="input" required>
                </div>
                <div class="container-checkbox">
                    <input type="checkbox" id="car" name="inputCar" [(ngModel)]="plusCar" class="input-checkbox"> 
                    <label class="labels" for="car">Possui veículo</label>
                </div>
            </div>
            <div class="container-button">
                <button>Salvar</button>
            </div>
        </form>
    </div>
</div>