// #148F77 

.navbar 
    background: white
    padding: 2px

    li
        list-style-type: none
        display: inline-block

    .logo
        width: 150px
    
    i 
        margin: 0
        color: black
        padding-left: 50px
    

    








