
.navbar 
    background: #148F77
    padding: 2px

    li
        list-style-type: none
        display: inline-block

    .logo
        width: 150px
    
    i 
        margin: 0
        color: white
        padding-top: 0
        padding-left: 50px

button
    padding: 10px 20px
    margin: 25px 10px 0px 10px 
    background: #2E86C1
    color: white
    border: 0px
    border-radius: 5px
    font-size: 15px

    








