.navbar 
    background-color: #148F77
    display: flex
    padding: 10px

    .logo
        width: 150px
        
    .fa.fa-bars 
        color: white
        margin: 15px 50px
        cursor: pointer

.sidebar
    display: block
    margin: 0
    padding: 0
    width: 200px
    background-color: #148F77
    color: white
    position: fixed
    height: 100%

.sidebar a
    display: block
    text-align: center
    width: 100%
    color: white
    text-decoration: none
    font-size: 20px
    font-family: sans-serif, Arial
    padding: 10px 0

.sidebar a:hover 
    cursor: pointer
    font-weight: bold
    background-color: white
    color: #148F77










