<div class="container">
    <p class="title">Consultas</p>
    <div class="container-filter">
        <p class="title-filter">Filtrar por:</p>
        <input type="radio" id="present" name="present" value="people-present" class="input">
        <label for="present">Pessoas ainda presentes</label>
        <input type="radio" id="not-present" name="not-present" value="people-not-present" class="input not-present"> 
        <label for="not-present">Pessoas que já deixaram o hotel</label>
    </div>
    <div class="container-table">
        <table class="table">
            <thead>
                <tr>
                    <th class="table-row">Nome</th>
                    <th class="table-row">Documento</th>
                    <th class="table-row">Valor gasto (R$)</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of dataList"> 
                    <td class="table-row">{{ data.name }}</td>
                    <td class="table-row">{{ data.document }}</td>
                    <td class="table-row">{{ data.value }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="buttons">
        <button class="button previous"><i class="fa fa-arrow-left fa-1x"></i>Previous</button>
        <button class="button next">Next<i class="fa fa-arrow-right fa-1x"></i></button>
    </div>
</div>
