<div class="container">
    <p class="title">Consultas</p>
    <p class="title-filter">Filtrar por:</p>
    <div class="container-filter">
        <div class="container-input">
            <input type="radio" id="present" name="present" [(ngModel)]="present" (change)="changeIsPresent($event)" class="input">
            <label class="labels" for="present">Hóspedes presentes</label>
        </div>
        <div class="container-input">
            <input type="radio" id="not-present" name="not-present" [(ngModel)]="notPresent" (change)="changeNotPresent($event)" class="input not-present"> 
            <label class="labels" for="not-present">Hóspedes ausentes</label>
        </div>
    </div>
    <div class="container-table">
        <table class="table">
            <thead>
                <tr>
                    <th class="table-row">Nome</th>
                    <th class="table-row">Documento</th>
                    <th class="table-row">Valor gasto (R$)</th>
                    <th class="table-row">Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of dataList | paginate: { itemsPerPage: 5, currentPage: page }"> 
                    <td class="table-row">{{ data.name }}</td>
                    <td class="table-row">{{ data.document }}</td>
                    <td class="table-row">{{ data.value }}</td>
                    <td class="table-row"><button (click)="updateCheckin()" class="icon update"><i class="fa fa-edit"></i></button>
                    <button (click)="deleteGuest(data.name, data.document)" class="icon delete"><i class="fa fa-trash"></i></button></td>
                </tr>
                <pagination-controls class="pagination" (pageChange)="page = $event"></pagination-controls>
            </tbody>
        </table>
    </div>
    
</div>
