.container-list 
    margin: 10px
    font-family: Arial
    border: solid 1px #2E86C1
    border-radius: 5px

    .title
        background: #2E86C1
        color: white
        padding: 12px
        margin: 0
        font-size: 15px
    
    .title-filter
        margin: 15px
        font-size: 14px

    .container-filter
        margin: 15px
        width: 100%
        font-size: 14px
        display: flex

        @media (max-width: 500px)
            flex-direction: column

        @media (max-width: 200px)
            font-size: 12px
            width: 75%
    
    .container-input
        display: flex
    
    .input
        margin-right: 5px

        @media (max-width: 500px)
            margin: 10px 0px

    .not-present
        margin-left: 25px

        @media (max-width: 500px)
            margin-left: 0px
    
    .labels
        @media (max-width: 500px)
            margin: 8px 10px

    .container-table

        @media (max-width: 320px)
            min-width: 100%
            font-size: 12px

        @media (max-width: 160px)
            max-width: 50%
            font-size: 12px
    
    .table 
        width: 100%
        padding: 15px

        @media (max-width: 160px)
            padding: 0px
            margin: 0
            max-width: 50%

    tr
        @media (max-width: 320px)
            margin: 0
            display: block
            float: left
            min-width: 100%
        
        @media (max-width: 160px)
            max-width: 50%
            margin: 0
            font-size: 12px
    
    th
        border-bottom: 2px solid #99A3A4
        border-collapse: collapse

        @media (max-width: 320px)
            margin: 0
            display: block
            min-width: 100%

        @media (max-width: 160px)
            max-width: 50%
            font-size: 12px
            margin: 0

    td
        border-bottom: 1px solid #99A3A4
        border-collapse: collapse

        @media (max-width: 320px)
            margin: 0
            display: block
            min-width: 100%

        @media (max-width: 160px)
            max-width: 50%
            font-size: 12px
            margin: 0
    
    tr:last-child td
        border-bottom: 0px

        @media (max-width: 320px)
            border-bottom: 1px solid #99A3A4
    
    .table-row
        text-align: left
        padding: 8px

    table.table tbody pagination-controls.pagination ::ng-deep pagination-template ul.ngx-pagination
        padding-inline-start: 0
        margin-block-end: 0
        margin-inline-end: 0

    .pagination ::ng-deep .ngx-pagination .current 
        display: none

    .pagination ::ng-deep .ngx-pagination li 
        display: none  

    .pagination ::ng-deep .ngx-pagination .pagination-previous a::before,
    .pagination ::ng-deep .ngx-pagination .pagination-previous.disabled::before
        font-family: FontAwesome
        content: "\f177"
    
    .pagination ::ng-deep .ngx-pagination .pagination-next a::after, 
    .pagination ::ng-deep .ngx-pagination .pagination-next.disabled::after
        font-family: FontAwesome
        content: "\f178"

    .pagination ::ng-deep .ngx-pagination .pagination-previous 
        display: inline-block
        border: 1px solid #E5E8E8 
        border-radius: 18px
        background: white
        padding: 10px 15px
        font-family: Arial
        font-size: 14px
        color: #3498DB
        cursor: pointer
    
    .pagination ::ng-deep .ngx-pagination .pagination-next
        display: inline-block
        border: 1px solid #E5E8E8 
        border-radius: 18px
        background: white
        padding: 10px 15px
        margin-left: 15px
        font-size: 14px
        font-family: Arial
        color: #3498DB
        cursor: pointer   
    
    .button
        border: 1px solid #2E86C1
        border-radius: 18px
        background: white
        padding: 10px 15px
        margin: 10px 0px 20px 0px
        font-family: Arial
        color: #3498DB
        cursor: pointer

    i
        color: #2E86C1

    .fa.fa-edit
        font-size: 25px

    .fa.fa-trash
        font-size: 25px

    .icon.delete
        border: 0px
        background: white
        margin-left: 5px

    .icon.update
        border: 0px
        background: white
        margin-left: 5px
