.container 
    margin: 10px
    font-family: Arial
    border: solid 1px blue

    .title
        background: blue
        color: white
        padding: 12px
        margin: 0
        font-size: 15px

    .table 
        width: 100%
        padding: 15px
    
    .table-row
        border: 1px solid gray
        text-align: left
        padding: 8px
    