<div class="container-login">
    <p class="title">Login</p>
    <div class="container-form">
        <form (ngSubmit)="onSubmit()"> 
            <div class="container-inputs">
                <div class="container-input">
                    <label class="labels" for="email">Email</label>
                    <input type="text" id="email" placeholder="Email" name="email" [(ngModel)]="email" class="input" email required>
                </div>
                <div class="container-input">
                    <label class="labels" for="password">Senha</label>
                    <div class="input-password">
                        <show-hide-password size="lg" btnStyle="primary">
                            <input type="password" id="password" name="password" minlength="6" maxlength="15" [(ngModel)]="password" class="input" placeholder="Senha" required>
                        </show-hide-password>
                    </div>
                </div> 
            </div>
            <div class="container-button">
                <button>Entrar</button>
            </div>
        </form>
    </div>
</div>


