<div class="container-person">
    <p class="title">Pessoa</p>
    <div class="container-form">
        <form>
            <div class="container-inputs">
                <div class="container-input">
                    <label class="labels" for="name">Nome</label>
                    <input type="text" id="name" name="name" value="name" class="input">
                </div>
                <div class="container-input">
                    <label class="labels" for="document">Documento</label>
                    <input type="text" id="document" name="document" value="document" class="input">
                </div> 
                <div class="container-input">
                    <label class="labels" for="phone">Telefone</label>
                    <input type="phone" id="phone" name="phone" value="phone" class="input">
                </div> 
            </div>
            <div class="container-button">
                <button>Salvar</button>
            </div>
        </form>
    </div>
</div>
